@media (max-width: 670px) {
	.action {		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 10px;			
	}
	.action img {
		width: 50%;
		height: auto;
	}
}
@media (max-width: 1000px) {
	.action {		
		display: flex;
		flex-wrap: wrap;
		justify-content: center;					
	}
	.action img {
		width: 75%;
		height: 75%;
	}

}